<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


    <appender name="Connection" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/connection-%d{yyyy-MM-dd}.%i.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}-%green(%-5level)-%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Config" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/config-%d{yyyy-MM-dd}.%i.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}-%green(%-5level)-%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/apilog-%d{yyyy-MM-dd}.%i.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS}-%green(%-5level)-%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS}-%green(%-5level)-%logger{36} - %msg%n</Pattern>
        </layout>
    </appender>


    <!-- Loggers -->
    <logger name="org.springframework.core">
        <level value="info"/>

    </logger>
    <logger name="org.springframework.beans">
        <level value="info"/>

    </logger>
    <logger name="org.springframework.context">
        <level value="info"/>

    </logger>
    <logger name="org.springframework.web">
        <level value="info"/>

    </logger>
    <logger name="com.example.web">
        <level value="debug"/>

    </logger>


    <!-- SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문이 보여진다. -->
    <logger name="jdbc.sqlonly" additivity="false">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>
    </logger>
    <!-- SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->
    <logger name="jdbc.sqltiming" additivity="false">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
        <level value="DEBUG"/>
    </logger>
    <logger name="jdbc.resultset" additivity="false">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>

    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
        <level value="DEBUG"/>

    </logger>
    <logger name="jdbc.connection" additivity="false">
        <appender-ref ref="ROLLING"/>
        <level value="OFF"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>
    </logger>


    <logger name="Connection" level="INFO" additivity="false">
        <appender-ref ref="Connection" />
    </logger>
    <logger name="Config" level="INFO" additivity="false">
        <appender-ref ref="Config" />
    </logger>


    <root level="info">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>