<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Nav Item - Tables -->
        <li>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel" style="background: none; border: none; padding: 0; padding-top: 10px">
                    <div class="x_title">
                        <h2 style="color: #fff">자주자주 <a class="collapse-link"><i class="fa fa-chevron-up" style="color: white"></i></a></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul style="padding: 0px">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/feedback">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Feedback 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/feedbackcategory">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Feedback 카테고리별 조회</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/scheduler">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Scheduler 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/slot">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Slot 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/noti">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Noti 관리</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel" style="background: none; border: none; padding: 0;">
                    <div class="x_title">
                        <h2 style="color: #fff">안자주 <a class="collapse-link"><i class="fa fa-chevron-up" style="color: white"></i></a></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul style="padding: 0px">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/admin">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Admin Role 관리</span></a>
                            </li>


                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/user">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>User 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/team">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Team 관리</span></a>
                            </li>

                            <!-- Divider -->
                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/game">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Game 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/season">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Season 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/currentMatch">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>Current Match 관리</span></a>
                            </li>

                            <hr class="sidebar-divider d-none d-md-block">

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/pChange">
                                    <i class="fas fa-fw fa-table"></i>
                                    <span>PChange 관리</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</th:block>

</html>
