<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container body">
        <div class="main_container">
            <div class="left_col scroll-view">
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Ppp Change 관리</h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                    <div class="input-group">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="row" style="display: block;">
                            <div class="clearfix"></div>

                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Ppp Change 생성</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Ppp Change ID</th>
                                                    <th class="column-title">Game ID</th>
                                                    <th class="column-title">User ID</th>
                                                    <th class="column-title">Ppp Change</th>
                                                    <th class="column-title">Ppp Result</th>
                                                    <th class="column-title"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <form>
                                                    <tr>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/pChange">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <td>자동생성</td>
                                                        <td>
                                                            <input type="text" id="gameId" name="gameId">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="userId" name="userId">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="pppChange" name="pppChange">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="pppResult" name="pppResult">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="생성"
                                                                   th:onclick='js_request_pchange_create(this.form)'>
                                                        </td>
                                                    </tr>
                                                </form>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Ppp Change 수정 / 삭제</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Ppp Change ID</th>
                                                    <th class="column-title">Game ID</th>
                                                    <th class="column-title">User ID</th>
                                                    <th class="column-title">Ppp Change</th>
                                                    <th class="column-title">Ppp Result</th>
                                                    <th class="column-title"></th>
                                                    <th class="column-title"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="even pointer"
                                                    th:each="pChange, i : ${pchangeList}">
                                                    <form>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/pChange">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <input type="hidden" id="id" name="id" th:value="${pChange.getId()}">
                                                        <input type="hidden" id="gameId" name="gameId" th:value="${pChange.getGame().getId()}">
                                                        <input type="hidden" id="userId" name="userId" th:value="${pChange.getUser().getIntraId()}">
                                                        <td th:text="${pChange.getId()}"></td>
                                                        <td th:text="${pChange.getGame().getId()}"></td>
                                                        <td th:text="${pChange.getUser().getIntraId()}"></td>
                                                         <td>
                                                            <input type="text" id="pppChange" name="pppChange" th:value="${pChange.getPppChange()}">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="pppResult" name="pppResult" th:value="${pChange.getPppResult()}">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="수정"
                                                                   th:onclick='js_request_pchange_update(this.form)'>
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="삭제"
                                                                   th:onclick='js_request_delete(this.form)'>
                                                        </td>
                                                    </form>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    </div>
    </div>
    </div>
</th:block>
</html>
