<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container body">
        <div class="main_container">
            <div class="left_col scroll-view">
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>시즌 관리</h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                    <div class="input-group">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="row" style="display: block;">
                            <div class="clearfix"></div>

                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>시즌 추가</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">시즌 ID</th>
                                                    <th class="column-title">시즌 이름</th>
                                                    <th class="column-title">시즌 시작(yyyy-MM-ddTHH:mm:ss)</th>
                                                    <th class="column-title">시즌 끝</th>
                                                    <th class="column-title">탁구력 초기값</th>
                                                    <th class="column-title">탁구력 격차</th>
                                                    <th class="column-title">모드</th>
                                                    <th class="column-title"></th>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <form id="createForm">
                                                    <input type="hidden" id="url" name="url" value="/admin/season">
                                                    <input type="hidden" id="token" th:value="${token}">
                                                    <tr class="even pointer">
                                                        <td class=" "><p>자동생성</p></td>
                                                        <td class=" ">
                                                            <input type="text" name="seasonName" id="season_name">
                                                        </td>
                                                        <td class=" "><p>현재 시간</p></td>
                                                        <td class=" "><p>세상의 끝</p></td>
                                                        <td class=" ">
                                                            <input type="text" name="startPpp" id="start_ppp">
                                                        </td>
                                                        <td class=" ">
                                                            <input type="text" name="pppGap" id="ppp_gap">
                                                        </td>
                                                        <td class=" ">
                                                            <input type="text" name="seasonMode" id="season_mode">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="생성"
                                                                   th:onclick='js_request_season_post(createForm)'>
                                                        </td>
                                                    </tr>
                                                </form>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>시즌 수정 / 삭제</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">시즌 ID</th>
                                                    <th class="column-title">시즌 이름</th>
                                                    <th class="column-title">시즌 시작</th>
                                                    <th class="column-title">시즌 끝</th>
                                                    <th class="column-title">탁구력 초기값</th>
                                                    <th class="column-title">탁구력 격차</th>
                                                    <th class="column-title">모드</th>
                                                    <th class="column-title"></th>
                                                    <th class="column-title"></th>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="even pointer" th:each="season, i : ${seasonList}">
                                                    <form>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/season">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <td class=" " th:text="${season.getId()}"></td>
                                                        <input type="hidden" id="id" th:value="${season.getId()}">
                                                        <td class=" " th:text="${season.getSeasonName()}"></td>
                                                        <td class=" " th:text="${season.getStartTime()}"></td>
                                                        <td class=" " th:text="${season.getEndTime()}"></td>
                                                        <td class=" ">
                                                            <input type="text" name="startPpp" id="start_ppp"
                                                                   th:value="${season.getStartPpp()}">
                                                        </td>
                                                        <td class=" ">
                                                            <input type="text" name="pppGap" id="ppp_gap"
                                                                   th:value="${season.getPppGap()}">
                                                        </td>
                                                        <td class=" " th:text="${season.getSeasonMode()}"></td>
                                                        <td>
                                                            <input type="submit" value="수정"
                                                                   th:onclick='js_request_season_put(this.form)'>
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="삭제"
                                                                   th:onclick='js_request_delete(this.form)'>
                                                        </td>
                                                    </form>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    </div>
    </div>
    </div>
</th:block>
</html>
