<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container body">
        <div class="main_container">
            <div class="left_col scroll-view">
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Slot 관리</h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                    <div class="input-group">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="row" style="display: block;">
                            <div class="clearfix"></div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Slot Generator Time Config</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Start Time</th>
                                                    <th class="column-title">Interval Time</th>
                                                    <th class="column-title">Number of Slots</th>
                                                    <th class="column-title"></th>
                                                    <th class="column-title">!!!몹시 위험!!!</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <form>
                                                    <input type="hidden" id="url" name="url"
                                                           value="/admin/slot/generator">
                                                    <input type="hidden" id="token" th:value="${token}">
                                                    <tr>
                                                        <td class=" ">
                                                            <input type="text" id="startTime" th:value="${slotStartTime}">
                                                        </td>
                                                        <td class=" ">
                                                            <input type="text" id="interval" th:value="${slotInterval}">
                                                        </td>
                                                        <td class=" ">
                                                            <input type="text" id="slotNum" th:value="${slotNum}">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="수정" th:onclick='js_request_slot_generator_put(this.form)'>
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="즉시 생성" th:onclick='js_request_slot_generator_run(this.form)'>
                                                        </td>
                                                    </tr>
                                                </form>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>빈 Slot 생성</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Slot ID</th>
                                                    <th class="column-title">Table ID</th>
                                                    <th class="column-title">Team1 ID</th>
                                                    <th class="column-title">Team2 ID</th>
                                                    <th class="column-title">Time(yyyy-MM-ddTHH:mm:ss)</th>
                                                    <th class="column-title">Game Ppp</th>
                                                    <th class="column-title">Head Count</th>
                                                    <th class="column-title">Type(SINGLE/BUNGLE)</th>
                                                    <th class="column-title"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <form>
                                                    <tr>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/slot/empty">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <td>자동생성</td>
                                                        <td>
                                                            <input type="text" id="tableId" name="tableId">
                                                        </td>
                                                        <td>자동생성</td>
                                                        <td>자동생성</td>
                                                        <td>
                                                            <input type="text" id="time" name="time">
                                                        </td>
                                                        <td>자동생성</td>
                                                        <td>자동생성</td>
                                                        <td>자동생성</td>
                                                        <td>
                                                            <input type="submit" value="생성"
                                                                   th:onclick='js_request_empty_slot_create(this.form)'>
                                                        </td>
                                                    </tr>
                                                </form>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Slot 생성</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Slot ID</th>
                                                    <th class="column-title">Table ID</th>
                                                    <th class="column-title">Team1 ID(존재해야함! TeamAdmin에서 생성해오시오)</th>
                                                    <th class="column-title">Team2 ID(존재해야함! TeamAdmin에서 생성해오시오)</th>
                                                    <th class="column-title">Time(yyyy-MM-ddTHH:mm:ss)</th>
                                                    <th class="column-title">Game Ppp</th>
                                                    <th class="column-title">Head Count</th>
                                                    <th class="column-title">Type(SINGLE/BUNGLE)</th>
                                                    <th class="column-title"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <form>
                                                    <tr>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/slot">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <td>자동생성</td>
                                                        <td>
                                                            <input type="text" id="tableId" name="tableId">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="team1Id" name="team1Id">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="team2Id" name="team2Id">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="time" name="time">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="gamePpp" name="gamePpp">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="headCount" name="headCount">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="type" name="type">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="생성"
                                                                   th:onclick='js_request_slot_create(this.form)'>
                                                        </td>
                                                    </tr>
                                                </form>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Slot 수정 / 삭제</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">
                                        <div class="table-responsive">
                                            <table class="table table-striped jambo_table bulk_action">
                                                <thead>
                                                <tr class="headings">
                                                    <th class="column-title">Slot ID</th>
                                                    <th class="column-title">Table ID</th>
                                                    <th class="column-title">Team ID</th>
                                                    <th class="column-title">User ID</th>
                                                    <th class="column-title">Time(yyyy-MM-ddTHH:mm:ss)</th>
                                                    <th class="column-title">Game Ppp</th>
                                                    <th class="column-title">Head Count</th>
                                                    <th class="column-title">Type(SINGLE/BUNGLE)</th>
                                                    <th class="column-title"></th>
                                                    <th class="column-title"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="even pointer"
                                                    th:each="slot_team_user, i : ${slotList}">
                                                    <form>
                                                        <input type="hidden" id="url" name="url"
                                                               value="/admin/slot">
                                                        <input type="hidden" id="token" th:value="${token}">
                                                        <input type="hidden" id="id" name="id" th:value="${slot_team_user.getSlot().getId()}">
                                                        <td th:text="${slot_team_user.getSlot().getId()}"></td>
                                                        <td th:text="${slot_team_user.getSlot().getTableId()}"></td>
                                                        <td th:text="${slot_team_user.getTeam().getId()}"></td>
                                                        <td th:text="${slot_team_user.getUser().getIntraId()}"></td>
                                                        <td th:text="${slot_team_user.getSlot().getTime()}"></td>
                                                        <td>
                                                            <input type="text" id="gamePpp" name="gamePpp" th:value="${slot_team_user.getSlot().getGamePpp()}">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="headCount" name="headCount" th:value="${slot_team_user.getSlot().getHeadCount()}">
                                                        </td>
                                                        <td>
                                                            <input type="text" id="type" name="type" th:value="${slot_team_user.getSlot().getType()}">
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="수정"
                                                                   th:onclick='js_request_slot_update(this.form)'>
                                                        </td>
                                                        <td>
                                                            <input type="submit" value="삭제"
                                                                   th:onclick='js_request_delete(this.form)'>
                                                        </td>
                                                    </form>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    </div>
    </div>
    </div>
</th:block>
</html>
